.cont-img{
   display: flex;
   justify-content: space-between;
   width: 100%; 
}

.cont-img img{
    width: 30%; 
    height: auto; 
}


.cont-img {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan */
    gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra las imágenes */
    padding: 20px;
}

.cont-img img {
    max-width: 100%; /* Asegura que las imágenes no se desborden */
    height: auto; /* Mantiene la proporción */
    flex: 1 1 calc(33.33% - 10px); /* Tres imágenes por fila en pantallas grandes */
}

@media (max-width: 600px) {
    .cont-img img {
        flex: 1 1 100%; /* Una imagen por fila en móviles */
    }
}


.productos-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    width: 45%;
    margin-bottom: 25px;
    text-align: center;
}

.producto img{
    max-width: 100%;
    height: auto;

}

.producto p{
    margin-top: 10px;
    font-size: 16px;
    color:black
}